@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Baloo Tamma 2', sans-serif;
    line-height: 2;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-black my-2;
    }
    h1{
         @apply text-4xl;
    }
    h2 {
        @apply text-3xl;
    }
    h3, h4 {
        @apply text-2xl;
    }
    h5, h6 {
        @apply text-xl;
    }
    body {
        @apply bg-pastelOrange
    }

    p {
        @apply py-1 px-2 lg:px-5 font-light text-lg my-1 leading-loose
    }

    blockquote {
        @apply w-full relative my-3
    }
    blockquote p{
        @apply text-xl text-center p-3 !important
    }

    blockquote cite {
        @apply text-right font-light text-neutral-500 text-base block
    }

    a {
        @apply text-primary
    }

    b {
        @apply font-semibold
    }
    em {
        @apply italic
    }

    hr {
        @apply border border-neutral-300 my-3
    }
}
.layout {
    @apply mx-auto relative w-full lg:w-10/12 xl:w-8/12
}

.openMenu {
    @apply w-full h-screen bg-pastelOrange z-30 text-2xl py-10
}

.openMenu a {
    @apply block py-5 text-center
}

.pageTitle {
    @apply p-5 mt-5
}

.gradient-background{
   background: linear-gradient(180deg, rgba(217, 217, 217, 0) 10.94%, rgba(120, 119, 119, .6 ) 98.44%);
}

.blog-list {
    @apply px-3 lg:px-6 list-disc list-inside
}